fastapi
supabase
python-dotenv
uvicorn
yt-dlp
faster-whisper
sentence-transformers
faiss-cpu
pydantic
python-multipart
sqlite-utils
opencv-python<4.9
pillow
torch==2.2.2
torchvision
transformers>=4.41,<4.50
spacy
bertopic
einops
timm
numpy<2