fastapi
uvicorn
yt-dlp
openai-whisper
sentence-transformers
faiss-cpu
pydantic[dotenv]
python-multipart
sqlite-utils
opencv-python
pillow
torch
torchvision
transformers>=4.41,<4.50
spacy
bertopic
einops 
timm